{% extends "app/base.html" %}
{% block content %}
    {% if user.is_authenticated == False %}
    <p>Not authenticated</p>
    {% endif %}
    {% if user.is_authenticated %}
    {% if error %}
        {{error}}
    {% endif %}
    <div id='folder_create'>
        <form method="POST", action="{% url 'folder_create' %}">
            {% csrf_token %}
            <input type="text" name="folder_name" placeholder="Folder name">
            {% if parent_id %}
            <input type="hidden" name="parent_id" value={{parent_id}}>
            {% endif %}
            <input type="Submit" value="Create">
        </form>
    </div>
    {% else %}
    <p><a href="{% url 'login' %}">Sign in</a></p>
    {% endif %}
{% endblock %}