{% extends "app/base.html" %}

{% block dropdown %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{% url 'folder_create' %}?parent_id={{id}}">Create folder</a>
    <a class="dropdown-item" href="{% url 'file_create' %}?parent_id={{id}}">Create file</a>
</div>
{% endblock %}

{% block content %}
    {% if user.is_authenticated == False %}
    <p>Not authenticated</p>
    {% endif %}
    {% if user.is_authenticated %}
    {% if parent_id %}
    <span id="parent_link"><a href="{% url 'folder' parent_id %}">Go up</a></span>
    {% else %}
    <!-- Parent is the root folder i.e. app index -->
    <span id="parent_link"><a href="{% url 'index' %}">Go up</a></span>
    {% endif %}
    {% if name %}
    <h2>{{name}}</h2>
    {% endif %}
    {% if folders %}
    <ul>
    {% for folder in folders %}
    <li><a href="{% url 'folder' folder.id %}">{{ folder.name }}<a/></li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if files %}
    <ul>
    {% for file in files %}
    <li><a href="{% url 'file' file.id %}">{{file.name}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="Submit" value="Logout">
    </form>
    {% else %}
    <p><a href="{% url 'login' %}">Sign in</a></p>
    {% endif %}
{% endblock %}