<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>TFManager</h1>
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }}</p>
    {% else %}
    <p>Not authenticated</p>
    {% endif %}
    {% if user.is_authenticated %}
    {% if folders %}
    <ul>
    {% for folder in folders %}
    <li><a href="/folder/{{folder.id}}">{{ folder.name }}<a/></li>
    {% endfor %}
    </ul>
    {% endif %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="Submit" value="Logout">
    </form>
    {% else %}
    <p><a href="{% url 'login' %}">Sign in</a></p>
    {% endif %}
</body>
</html>